/* 
.restaurant{
    height: 90px;
    width: 90px;
    border:1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.restaurant:hover{
    box-shadow: 4px 4px gray;
}
.box-1 :hover{
    background-color: rgb(161, 160, 160);
}
.resutrant-heading{
    font-size: 25px;
    padding-top: 5px;
    padding-left: 30px;
    margin-bottom: 0px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 5px;
    text-align: center
} */


.categories-container {
    margin-left: 30px;
}

.category-item {
    text-align: center;

}

.category-link {
    text-decoration: none;
    color: black;
}

.category-img {
    height: 90px;
    width: 90px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.category-img:hover {
    box-shadow: 4px 4px gray;
}

h6 {
    margin: 10px 0 0;
    font-family: sans-serif;
}

@media (max-width: 768px) {
    .categories-container {
        margin-left: 0;
    }
    
    .category-item {
        margin-bottom: 15px;
    }
    
    h1 {
        font-size: 25px;
    }
}




