.hospital_container{
    width: 100%;
}

.hospital_icon_image{
   height: 50px;
}
.hospital_container_part1{
   width: 99%;
   margin-top: 50px;
  
  
   
}
.services-heading{
   background-color: #fbfbfb;
   font-size: 20px;
   padding: 10px;
   font-weight: bold;
   padding-left: 20px;
   cursor: pointer;
   color: #111111;
   font-family: sans-serif;
   display: inline-block;
   transition: transform 0.3s ease;
}
.services-heading:hover {
   transform: translateX(20px); 
 
   color: white;
}
.hospital_container_subpart1{
  margin-left: 200px;
}
.hospital_container_subpart2{
   margin-left: 100px;
   margin-top: 20px;
}

/* Styles for large screens */
.hospital_container_subpart1,
.hospital_container_subpart2 {
    margin-left: 100px;
}

/* Styles for medium-sized screens */
@media (max-width: 992px) {
    .hospital_container_subpart1,
    .hospital_container_subpart2 {
        margin-left: 40px; /* Reduce margin for smaller screens */
    }
}

/* Styles for small screens */
@media (max-width: 768px) {
    .hospital_container_subpart1,
    .hospital_container_subpart2 {
        margin-left: 20px; /* Reduce margin even more for smaller screens */
    }
}

/* Styles for extra small screens */
@media (max-width: 576px) {
    .hospital_container_subpart1,
    .hospital_container_subpart2 {
        margin-left: 10px; /* Adjust margin for extra small screens */
    }
}

