.restaurent_container{
    width: 100%;
}
.hyderabad_restaurent{
    width: 98%;
}
.restaurent_images {
    height: 500px;
    width: 100%;
   
}
@media only screen and (max-width: 600px) {
    .restaurent_images {
        height: 300px;
        width: 100%;
        margin-top: 10px;
       
    }
  }
.hyd_title{
  margin-left: 120px;
    color: rgb(26, 23, 23);
    margin-top: 30px;
    font-size: 38px;
}
